<ion-view title="My Page" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="myPage-list4" class=" ">
            <ion-item class="item-divider " id="myPage-list-item-divider1">Profile</ion-item>
            <div class="item item-body " id="myPage-list-item-container2">
                <ion-list id="myPage-list6" class=" ">
                    <ion-item class="item-avatar  " id="myPage-list-item12">
                        <ion-icon name="contact" role="img" class="ion-ios-contact" aria-label="contact"></ion-icon>
                        <h2>Item</h2>
                    </ion-item>
                </ion-list>
                <p id="myPage-markdown3" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
            <ion-item class="item-divider " id="myPage-list-item-divider2">Rewards</ion-item>
        </ion-list>
        <div class="item item-body " id="myPage-list-item-container1"></div>
        <ion-list id="myPage-list7" class=" ">
            <ion-item class="item-avatar  " id="myPage-list-item14">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>