<ion-view title="Trends" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="trends-list-item-container4">
            <p id="trends-markdown6" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <ion-list id="trends-list12" class=" ">
            <ion-item class="item-divider " id="trends-list-item-divider4">Item</ion-item>
        </ion-list>
        <div class="item item-body " id="trends-list-item-container5">
            <p id="trends-markdown8" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
             <div class="card">
                <div class="item item-divider">
                    A line chart
                </div>
                <div class="item item-text-wrap">
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
                </div>
            </div>
        </div>
        <ion-list id="trends-list13" class=" ">
            <ion-item id="trends-list-item10" class="  ">Item 1</ion-item>
            <ion-item id="trends-list-item11" class="  ">Item 2</ion-item>
            <ion-item id="trends-list-item13" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>